#contextMenu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    box-shadow: 0 1px 11px 0px rgba(0, 0, 0, 0.2),
                0px 0px 0px 0.5px #AAAAAA inset;
    padding: 4.5px 0px;
    background: #f0f0f0;
    visibility: hidden;
}

#contextMenu span {
    padding: 0 21px 0px;
    cursor: pointer;
    font-size: 14.5px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #3E3E3E;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
}

#contextMenu span:hover {
    background: #6396fc;
    color: white;
}

#contextMenu img {
    left: 0;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
