@font-face {
  font-family: 'ArchivoNarrow-Regular';
  src: url('../fonts/ArchivoNarrow-Regular.eot') format('eot'), url('../fonts/ArchivoNarrow-Regular.woff') format('woff'), url('../fonts/ArchivoNarrow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ArchivoNarrow-Bold';
  font-weight: bold;
  src: url('../fonts/ArchivoNarrow-Bold.eot') format('eot'), url('../fonts/ArchivoNarrow-Bold.woff') format('woff'), url('../fonts/ArchivoNarrow-Bold.ttf') format('truetype');
}
