.Tile {
    width: 100%;
    height: 100%;
}

.Tile-container-full {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.Tile-container-top {
    background: #e8eaf1;
    box-shadow: 0px 0px 0px 0.5px #b7c0ca inset, 1px 1px 0px 0.5px #fafafa inset;
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

.Tile-container-bottom {
    background: #e8eaf1;
    box-shadow: 0px 0px 0px 0.5px #b7c0ca inset, 1px 1px 0px 0.5px #fafafa inset;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

.Tile-container-left {
    background: #e8eaf1;
    box-shadow: 0px 0px 0px 0.5px #b7c0ca inset, 1px 1px 0px 0.5px #fafafa inset;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
}

.Tile-container-right {
    background: #e8eaf1;
    box-shadow: 0px 0px 0px 0.5px #b7c0ca inset, 1px 1px 0px 0.5px #fafafa inset;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
}


/** Menu **/

.Tile-menu {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -28px;
    margin-left: -28px;
    background: rgb(216, 216, 216);
    background: rgba(200, 200, 200, 0.7);
    /*border: 1px solid rgba(0, 0, 0, 0.75);*/
    line-height: 0;
    border-radius: 3px;
}

.Tile-menu-item {
    width: 28px;
    height: 28px;
    display: inline-block;
    line-height: 0;
    padding: 2px;
}

.Tile-menu-insert {}

.Tile-menu-split-vertical {}

.Tile-menu-split-horizontal {}

.Tile-menu-delete {}


/** Tooltip **/

.Tile-tooltip-icon-container {
    width: 84px;
    height: 37px;
    text-align: center;
    display: inline-block;
    margin: 2px;
    padding-top: 4px;
}

.Tile-tooltip-icon-selected {
    background: white;
    border-radius: 4px;
}

.Tile-tooltip-icon {
    width: 28px;
    height: 28px;
    margin: auto;
}

.btn-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 51px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.Tile-left-panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100px;
    background: grey;
}

.Tile-right-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    color: #fff;
    background: black;
}

.Tile-dragger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Tile-dragger-horizontal {
    top: -4px;
    width: 100%;
    height: 8px;
    cursor: ns-resize;
}

.Tile-dragger-vertical {
    left: -4px;
    width: 8px;
    height: 100%;
    cursor: ew-resize;
}
